@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Oswald:300,200,700|Lato:300');

:root
{
    --main-color: #AD2333;
    --dark-text: #424242;
}
*
{
    margin: 0;
    padding: 0;
}

*, *::before, *::after
{
    box-sizing: border-box;
}


body
{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
}

/*******************************************************************************************
                                            General Styles
*******************************************************************************************/
/* Page Heading  */
.content-heading
{
    margin-top: 80px;
    margin-bottom: 60px;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.content-heading h1
{
    font-family: 'Oswald';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 6.5em;
    color: var(--main-color);
    padding: 0px 30px;
}
.content-heading .line
{
    background-color: var(--main-color);
    width: 200px;
    height: 6px;

}

/* Page Content  */

.page-content
{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 120px;
}

.page-content h1,h2,h3,h4,h5,h6
{
    color: var(--dark-text);
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 50px;
    
}

.page-content p
{
    margin-bottom: 20px;
    font-size: 27px;
    font-weight: 300;
    font-family: 'Roboto';
    text-indent: 50px;
}
/*******************************************************************************************
                                            HOME PAGE
*******************************************************************************************/

/* LANDING */



.overlay-landing
{
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.70);
}

.landing
{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.70));

}


.landing-content h1
{
    color: #fff;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    font-family: 'Oswald';
    font-size: 5em;
    font-weight: 200;
    letter-spacing: 5px;

}

.landing-content span
{
    color: var(--main-color);
    font-weight: bold;
}