@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Oswald:300,200,700|Lato:300');

/* :root
{
    --main-color: #AD2333;
    --dark-text: #4A4A4A;
} */
*
{
    margin: 0;
    padding: 0;
}

*, *::before, *::after
{
    box-sizing: border-box;
}


body
{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
}

/*******************************************************************************************
                                            General Styles
*******************************************************************************************/
/* Page Heading  */
.content-heading
{
    margin-top: 180px;
    margin-bottom: 60px;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.content-heading h1
{
    font-family: 'Oswald';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 6.5em;
    color: var(--main-color);
    padding: 0px 30px;
}
.content-heading .line
{
    background-color: var(--main-color);
    width: 200px;
    height: 6px;

}

/* Page Content  */

.page-content
{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 120px;
}

.page-content h1,h2,h3,h4,h5,h6
{
    color: var(--dark-text);
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 50px;
    
}

.page-content p
{
    margin-bottom: 20px;
    font-size: 27px;
    font-weight: 300;
    font-family: 'Roboto';
    text-indent: 50px;
}


/*******************************************************************************************
                                            HOME PAGE
*******************************************************************************************/

/* LANDING */



.overlay-landing
{
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.70);
}

.landing
{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.70));

}


.landing-content h1
{
    color: #fff;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    font-family: 'Oswald';
    font-size: 5em;
    font-weight: 200;
    letter-spacing: 5px;

}

.landing-content span
{
    color: var(--main-color);
    font-weight: bold;
}


/*******************************************************************************************
                                            Contact Page
*******************************************************************************************/

.contact-content
{
    width: 100%;
    display: flex;
    margin-top: 70px;

}

.contact-section
{
    width: 50%;
    text-align: center;
    animation-delay: 0.7s;
    color: var(--dark-text);
}

.contact-section h1
{
    font-weight: 400;
    font-size: 3em;

}

.contact-section p
{
    color: var(--dark-text);
    font-size: 2em;
    font-family: 'Roboto';
}

.social-contact
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    animation-delay: 0.7s;
}
.social-contact a
{
    color: var(--main-color);
    font-size: 7em;
    cursor: pointer;
    text-decoration: none;
    margin: 0px 50px;
    transition: all .2s ease-in-out;

}

.social-contact a:hover
{
    transform: scale(1.1);
}

/*******************************************************************************************
                                            Officers Page
*******************************************************************************************/

.officer-content
{
    margin-top: 30px;
    animation-delay: 0.7s;
}
.officer-section
{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-delay: 0.7s;

}
.officer-section .officer-information h1
{
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 3.2em;
}

.officer-section .officer-information h2
{
    font-family: 'Roboto';
    font-size: 1.5em;
    margin: 7px 0px;
}

.officer-section .officer-information h2,p
{
    font-family: 'Roboto';
}

/* RED SECTION */
.officer-section:nth-child(odd)
{
    background-color: var(--main-color);

}

.officer-section:nth-child(odd) .officer-information h1, h2, p
{
    color: #fff;
}

.officer-section .officer-information p:nth-child(odd)
{
    margin-right: 70px;
}

/* WHITE SECTION */
.officer-section:nth-child(even)
{
    background-color: #fff;

}

.officer-section:nth-child(even) .officer-information h1
{
    color: var(--main-color);
}

.officer-section:nth-child(even) .officer-information h2
{
    color: var(--dark-text);
}

.officer-section:nth-child(even) .officer-information p
{
    color: var(--dark-text);
    margin-right: 0px;
}

.officer-section:nth-child(even) .officer-information
{
    order: 1;
    padding-left: 70px;
}

.officer-section:nth-child(even) .officer-picture
{
    order: 2;
    width: 370px;
    height: 355px;
    padding-right: 0px;
}



/* END SECTION */


.officer-picture
{
    text-align: center;
    padding-right: 70px;
}

.officer-information
{
    width: 60%;
    max-width: 750px;
}
.diamond 
{
    width: 300px;
    height: 350px;
}

/*******************************************************************************************
                                            Media Queries
*******************************************************************************************/


@media only screen and (max-device-width: 1200px) 
{
    /* LANDING */

    /* OFFICERS */
    

    /* Red */

    .officer-picture
    {
        padding-right: 30px;
    }

    /* White */

    


    
    
}

@media only screen and (max-device-width: 900px) 
{
    /* LANDING */

    /* CONTACT */

    .contact-section h1
    {
        font-size: 2.2em;
    }
    .contact-section p
    {
        font-size: 1.5em;
    }

    .social-contact a 
    {
        font-size: 6em;
    }


    /* HISTORY */

    .content-heading h1
    {
        
        font-size: 5em;
        padding: 0px 30px;
    }
    .content-heading .line
    {
        width: 150px;
    }

    .history
    {
        margin-top: 70px;
    }

    .history h2
    {
        font-size: 2.7em;
        margin-bottom: 40px;
    }

    .history p
    {
        font-size: 1.7em;
        color: var(--dark-text);
        margin: 20px 80px;
        text-indent: 60px;
    }

    /* OFFICERS */
   

    .officer-section .officer-information h1
    {
        
        font-size: 2.5em;
    }

    .officer-section .officer-information h2
    {
        font-size: 1.5em;
    }

    .officer-section .officer-information p:nth-child(odd) 
    {
        margin-right: 40px;
    }

    .officer-section:nth-child(even) .officer-information 
    {
        padding-left: 40px;
    }
}

@media only screen and (max-device-width: 700px) 
{
    /* LANDING */

    /* CONTACT */
    .contact-content
    {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }

    .contact-section
    {
        width: 100%;
        margin-top: 30px;
    }
    .contact-section h1
    {
        font-size: 3em;
    }
    .contact-section p
    {
        font-size: 2em;
    }

    .social-contact a
    {
        margin: 0px 30px;
        font-size: 5em;
    }

    /* HISTORY */

    .content-heading h1
    {
        
        font-size: 5.5em;
    }
    .content-heading .line
    {
        width: 80px;
    }

    .history
    {
        margin-top: 40px;
    }

    .history p
    {
        margin: 20px 45px;
    }
    
    /* OFFICERS */
    .officer-section
    {
        flex-direction: column;
        height: initial;
        padding: 50px 0px;
    }

    .officer-section .officer-information
    {
        text-align: center;
        width: 100%;
    }

    .officer-section .officer-information p:nth-child(odd) 
    {
        margin-right: 0px;
    }

    .officer-section:nth-child(even) .officer-information 
    {
        padding-left: 0px;
    }
    .officer-section .officer-information h2
    {
        margin: 10px 0px;
    }

    .officer-section .officer-information p 
    {
        padding: 0px 20px;
    }

    .officer-picture 
    {
        padding-right: 0px;
    }

    .officer-section:nth-child(even) .officer-information
    {
        order: 2;
    }

    .officer-section:nth-child(even) .officer-picture
    {
        order: 1;
    }

}

@media only screen and (max-device-width: 500px) 
{

    /* LANDING */

    /* CONTACT */

    .contact-section h1
    {
        font-size: 2.2em;
    }
    .contact-section p
    {
        font-size: 1.5em;
    }
    
    
    .social-contact a
    {
        margin: 0px 15px;
        font-size: 4em;
    }

    /* HISTORY */

    .content-heading h1
    {
        font-size: 4em;
        padding: 0px 10px;
    }
    .content-heading .line
    {
        width: 50px;
        
    }

    .history
    {
        margin-top: 40px;
    }

    .history h2
    {
        font-size: 2.3em;
        margin-bottom: 20px;
    }

    .history p
    {
        margin: 20px 20px;
        text-indent: 20px;
        text-align: center;
    }

    /* OFFICERS */
    .diamond 
    {
        width: 270px;
        height: 320px;
    }


}